@@ -0,0 +1,73 @@
/* =================================
  Elementos base de estilo
==================================== */
header{
  grid-area: hd;
  background-color: #fff;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 20px;
}

nav {
  grid-area: nv;
  background-color: #be0213;
  display: inline;
  padding-top: 20px;

}

ul{
  list-style-type: none;
}

ol{
  list-style-type: none;
}

aside{
  grid-area: asd;
  background-color: #d02439;
  padding-bottom: 20px;
}

h2{
  margin:10px 20px;
  padding-top: 10px;
}

main{
  grid-area: mn;
  background-color: #fff;
}

footer{
  grid-area: ft;
  background-color: #000;
}


.grid_container{

  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr repeat(auto-fit,minmax(80px,1fr));
  grid-gap: 15px;
  grid-template-areas: "hd hd"
                       "nv nv"
                       "asd mn"
                       "asd mn"
                       "ft ft"
}

.footer_left,
.footer_right{
  display: flex;
  color: white;
}

.footer_right{
  /* float: right; */

}
